footer.container.py-5
    div.row
        div.col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                 a(class="nav-link", href="/nosotros") Nosotros
                 a(class="nav-link", href="/viajes") Viajes
                 a(class="nav-link", href="/testimoniales") Testimoniales

        div.col
            p.copyright.text-center.text-md-right
                Todos Todos los derechos reservados 
                    span= CurrentYear