extends ./layout/index
block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="image about us", class="img-fluid")

            div.col-md-7
                h1= pagina

                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, enim nec pellentesque blandit, justo tortor sodales quam, in maximus purus velit id tellus. Sed gravida mauris eget tortor molestie porta. Proin dapibus iaculis nunc, sit amet faucibus neque blandit eu. Vivamus vel purus at diam vehicula dictum blandit at enim. Vivamus hendrerit dui tortor, in pellentesque augue dictum nec. Aliquam pulvinar sagittis augue vel eleifend. Etiam non elit et nibh rutrum pretium a in ligula. Cras ac enim eros. Maecenas quis commodo quam. Aenean augue urna, pellentesque sed lacus eget, euismod facilisis erat.

                p vitae purus diam. Duis quis nisi convallis, posuere metus non, vestibulum augue. Nulla a sem viverra, consectetur lacus faucibus, placerat dolor. Donec ut dolor et elit pretium sagittis in at urna. Pellentesque non nibh diam. Ut lorem urna, rutrum eu fringilla sit amet, imperdiet sed ante. Curabitur ultrices, sapien id maximus interdum, magna risus interdum dui, id faucibus magna diam nec erat. Vivamus a bibendum mi, non sollicitudin lorem. Nam ac elit sed velit vulputate dictum. Curabitur malesuada, leo malesuada mollis hendrerit, orci purus egestas tellus, nec molestie tortor sapien eu nulla. Ut suscipit a magna vel fermentum. Integer vel posuere magna. Donec auctor, libero eu feugiat aliquam, turpis purus ornare ex, eu facilisis turpis justo et lectus.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, enim nec pellentesque blandit, justo tortor sodales quam, in maximus purus velit id tellus. Sed gravida mauris eget tortor molestie porta. Proin dapibus iaculis nunc, sit amet faucibus neque blandit eu. Vivamus vel purus at diam vehicula dictum blandit at enim. Vivamus hendrerit dui tortor, in pellentesque augue dictum nec. Aliquam pulvinar sagittis augue vel eleifend. Etiam non elit et nibh rutrum pretium a in ligula. Cras ac enim eros. Maecenas quis commodo quam. Aenean augue urna, pellentesque sed lacus eget, euismod facilisis erat.


    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icon seguridad" , class="img-fuid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, enim nec pellentesque blandit, justo tortor sodales quam, in maximus purus velit id tellus. Sed gravida mauris eget tortor molestie porta. Proin dapibus iaculis nunc, sit amet faucibus neque blandit eu. Vivamus vel purus at diam vehicula dictum blandit at enim. Vivamus hendrerit dui tortor

                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="Icon destinos" , class="img-fuid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, enim nec pellentesque blandit, justo tortor sodales quam, in maximus purus velit id tellus. Sed gravida mauris eget tortor molestie porta. Proin dapibus iaculis nunc, sit amet faucibus neque blandit eu. Vivamus vel purus at diam vehicula dictum blandit at enim. Vivamus hendrerit dui tortor
                

                div.col-md-4
                    img(src="img/icono_precios.svg", alt="Icon precios" , class="img-fuid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, enim nec pellentesque blandit, justo tortor sodales quam, in maximus purus velit id tellus. Sed gravida mauris eget tortor molestie porta. Proin dapibus iaculis nunc, sit amet faucibus neque blandit eu. Vivamus vel purus at diam vehicula dictum blandit at enim. Vivamus hendrerit dui tortor
